#N
uart_clk
serdes_clk
rst_n

#S
@min_distance=0.1
uart_rxd
uart_txd
crc_error_sticky
tx_fifo_overflow

#E
serdes_tx
serdes_rx
rx_fifo_full
rx_fifo_empty
rx_fifo_overflow


#W
packet_valid_pulse
tx_fifo_full
tx_fifo_empty